<div class="backgroundStuff">
  <div class="end-menu"  *ngIf="!isTwoPlayers">
    <div class="totalTime">Total Time: {{ totalTime }}</div> <!-- Bind to totalTime property -->
  
    <div class="result">
      Correct Answers: {{ correctAnswers }}/{{ totalQuestions }}
    </div> <!-- Bind to correctAnswers and totalQuestions -->
  
    <div class="totalScore">Score: {{ score }}</div> <!-- Bind to score property -->
  
    <div class="userInfo">
        <label for="playerName">Enter your name:</label>
        <div class="input-container">
          <input [(ngModel)]="playerName" id="playerName" placeholder="Your Name" />
          <button (click)="submitName()" class="submit-button">Submit</button>
        </div>
      </div>
      
    <div class="buttons">
        <button (click)="goToLeaderboard()" style="border-right-width: 5px;border-right-style: solid;">LeaderBoard</button>
        <button (click)="goToMainMenu()" style="border-right-width: 5px;border-right-style: solid;">Main Menu</button>
        <button (click)="playAgain()">Play Again</button>
    </div>
  </div>

  <div class="end-menu" *ngIf="isTwoPlayers">
    <div class="totalTime">Total Time: {{ totalTime }}</div> <!-- Bind to totalTime property -->

    <div class="result">
      Correct Answers: {{ correctAnswers }}/{{ totalQuestions }}
    </div> <!-- Bind to correctAnswers and totalQuestions -->

    <div class="totalScore">Score: {{ score }}</div> <!-- Bind to score property -->
    <div class="userInfo">
      <label for="playerName">Enter player 1's name:</label>
      <div class="input-container">
        <input [(ngModel)]="player1Name" id="player1Name" placeholder="Your Name" />
      </div>
    </div>
      
    <div class="totalScore">Score: {{ score }}</div> <!-- Bind to score property -->
    <div class="userInfo">
      <label for="playerName">Enter player 2's name:</label>
      <div class="input-container">
        <input [(ngModel)]="player2Name" id="player2Name" placeholder="Your Name" />
        <button (click)="submitTwoPlayers()" class="submit-button">Submit</button>
      </div>
    </div>

    <div class="buttons">
        <button (click)="goToLeaderboard()">LeaderBoard</button>
        <button (click)="goToMainMenu()">Main Menu</button>
        <button (click)="playAgain()">Play Again</button>
    </div>
  </div>
</div>